.page-about {
  header {
    position: relative;
    background: url(/img/bg-header.jpg) top center no-repeat;
    background-size: cover;
    h6,
    p {
      color: #fff;
    }
    h6 {
      margin-bottom: 10px;
    }
    > .header-content {
      padding-bottom: 50px;
      padding-top: 50px;
      position: relative;
      z-index: 1;
      @include breakpoint(xs) {
        padding-bottom: 0;
      }
    }
    > .element-1 {
      position: absolute;
      bottom: -2px;
      > img {
        width: 100vw;
        transition: none;
      }
    }
  }

  .section-about1,
  .section-about2,
  .section-about3 {
    padding: 40px 0;
  }
  .section-about1 {
    // padding-top: 0;
    position: relative;
    .bg1 {
      position: absolute;
      left: 0;
      @include breakpoint(md) {
        left: -35%;
      }
      @include breakpoint(sm) {
        opacity: 0.2;
      }
    }
  }

  .section-steps {
    position: relative;
    padding-top: 40px;
    padding-bottom: 0;
    .title-section {
      padding-bottom: 40px;
    }
    .element-1 {
      position: absolute;
      left: calc(50% - 45px);
      top: calc(50% - 300px);
      display: none;
    }
    .element-2 {
      position: absolute;
      right: -30%;
      top: 10px;
    }
    .element-3 {
      position: absolute;
      left: -30%;
      top: 10px;
    }
  }

  .section-testimonial {
    // padding-top: 170px;
    position: relative;
    overflow: hidden;
    > .element-1 {
      position: absolute;
      left: 75%;
      top: 0;
      @include breakpoint(md) {
        right: -300px;
      }
      @include breakpoint(sm) {
        right: -400px;
      }
      @include breakpoint(xs) {
        display: none;
      }
    }
  }

  .section-slider {
    padding-top: 0;
    h1 {
      color: #ffac32;
      margin-bottom: 0;
    }
    hr {
      opacity: 0.5;
    }
  }

  .section-cta {
    padding-top: 0;
    hr {
      margin: 0;
      margin-bottom: 60px;
    }
  }

  .section-content {
    padding-top: 0;
    @include breakpoint(xs) {
      padding-top: 30px;
    }
  }
  .section-courses {
    .element-1 {
      position: absolute;
      right: 0;
    }
  }

  .section-stats {
    position: relative;
    padding: 70px 0;
    @include breakpoint(sm) {
      text-align: center;
    }
    .element-1 {
      position: absolute;
      right: 60%;
      top: 0;
      @include breakpoint(sm) {
        opacity: 0.1;
      }
    }
    .element-2 {
      position: absolute;
      top: 0;
      left: 80%;
      @include breakpoint(sm) {
        opacity: 0.1;
      }
    }
    .element-3 {
      position: absolute;
      right: 90%;
      @include breakpoint(lg) {
        right: 95%;
      }
      @include breakpoint(sm) {
        opacity: 0.1;
      }
    }
    .element-4 {
      position: absolute;
      left: 90%;
      @include breakpoint(lg) {
        left: 95%;
      }
      @include breakpoint(sm) {
        opacity: 0.1;
      }
    }
    h1 {
      font-size: 64px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffac32;
      margin-bottom: 0;
    }
    img {
      border-radius: 20px;
      @include breakpoint(sm) {
        margin-bottom: 20px;
        max-height: 300px;
      }
    }
    p {
      margin-top: 20px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #606e7b;
      position: relative;
      left: 30px;
      &:before {
        content: "";
        display: block;
        height: 14px;
        width: 14px;
        background-color: #ffac32;
        position: absolute;
        left: -30px;
        border-radius: 4px;
        margin-top: 4px;
        @include breakpoint(sm) {
          display: none;
        }
      }
      @include breakpoint(sm) {
        position: static;
      }
    }
  }

  .section-contact {
    background: url(../img/bg-contact.jpg) center no-repeat;
    background-size: cover;
  }

  .section-press {
    margin-top: 140px;
    padding: 0;
  }
}
