.page-trackdetails {
  header {
    background: url(/img/bg-header.jpg) top center no-repeat;
    background-size: cover;
    height: 540px;
    position: relative;
    > .element-1 {
      position: absolute;
      bottom: -2px;
      > img {
        width: 100vw;
        transition: none;
      }
    }
  }
  .section-content {
    // margin-top: -380px;
    margin-top: -400px;
    margin-bottom: 40px;
  }
}
