footer {
  background-color: #22292e;
  padding-top: 60px;
  .footer-upper {
    margin-bottom: 60px;
    @include breakpoint(xs) {
      text-align: center;
    }
    h6 {
      margin-bottom: 20px;
      font-family: $exo;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      @include breakpoint(sm) {
        margin-top: 10px;
      }
    }
    p {
      opacity: 0.6;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.57;
      letter-spacing: normal;
      color: #ffffff;
    }
    ul,
    li {
      padding: 0;
      list-style: none;
    }
    ul {
      li {
        display: block;
        opacity: 0.6;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
        padding-bottom: 20px;
      }
    }
  }
  .footer-lower {
    padding: 30px 0;
    border-top: solid 1px rgba(216, 216, 216, 0.1);
    .footer-lower-content {
      display: flex;
      justify-content: space-between;
      @include breakpoint(sm) {
        flex-direction: column;
        text-align: center;
        p:first-child {
          margin-bottom: 10px;
        }
      }
    }
    p {
      opacity: 0.5;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 0;
    }
  }
}
